@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(243, 244, 246);
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

main {
  min-height: calc(100% - 64px); /* Adjust 64px to match your header height */
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
